.container{
    max-width: 130rem;
    width: 95%;
    margin: 0 auto;
}
.logo{
    color: $primary;
}
.show-navbar{
    top: 0;
}
.hide-navbar{
    top: -10rem;
}
.h2{
    padding: $spacing 0;
    text-align: center;
}
.hide-item{
    display: none;
}
.show-item{
    display: block;
}
.icon-active{
    fill: $primary;
}
.icon-inactive{
    fill: $black;
}
.nav-active{
    color: $primary !important;
}