@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
$font: 'Poppins', sans-serif;
$font-secondary: 'Sriracha', cursive;

//* Fuentes
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;

//* Colors
$primary: #7353BA;
$lightGray: #f5f5f5;
$darkGray: #dddddd;
$white: #ffffff;
$black: #000000;
$text: #6B7280;
$red: #ff0000;
$green: #1f9f43;

$js: #f0db4f;
$tailwind: #47acb4;
$html: #e44d26;
$sass: #cb6699;
$react: #61dafb;
$css: #1572b6;
$node: #83cd29;
$git: #f03c2e;
$firebase: #ffcb2b;

$firebase-degraded: #ffca2b38;
$js-degraded: #f0da4f3d;
$tailwind-degraded: #47adb43d;
$html-degraded: #e44c263b;
$sass-degraded: #cb66983a;
$react-degraded: #61dafb3b;
$css-degraded: #1573b63e;
$node-degraded: #83cd293d;
$git-degraded: #f03b2e39;

$instagram: #f36a3c;
$fiverr: #1dbf73;
$linkedin: #0a66c2;
$github: #212121;

//* Breakpoints
$mobile: 359px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1550px;

//* Margins
$spacing: 5rem;

//* Font Sizes
$fontSize: (2.25rem, 3rem, 2.6rem, 1.6rem);

//* Skills
$skills: 
    "js" $js,
    'tailwind' $tailwind, 
    'html' $html, 
    'sass' $sass, 
    'react' $react, 
    'css' $css, 
    'node' $node, 
    'git' $git
;

$skillsProjectCard:
    "javascript-project-card" $js $js-degraded,
    'tailwind-project-card' $tailwind $tailwind-degraded, 
    'html-project-card' $html $html-degraded, 
    'sass-project-card' $sass $sass-degraded, 
    'react-project-card' $react $react-degraded, 
    'css-project-card' $css $css-degraded, 
    'node-project-card' $node $node-degraded, 
    'firebase-project-card' $firebase $firebase-degraded, 
;

$socialMediaColors:
    'instagram' $instagram,
    'fiverr' $fiverr,
    'linkedin' $linkedin,
    'github' $github
;
