@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
$font: 'Poppins', sans-serif;
$font-secondary: 'Sriracha', cursive;

//* Fuentes
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;

//* Colors
$primary: #7353BA;
$lightGray: #f5f5f5;
$white: #ffffff;
$black: #000000;
$text: #6B7280;
$red: #ff0000;

$js: #f0db4f;
$tailwind: #47acb4;
$html: #e44d26;
$sass: #cb6699;
$react: #61dafb;
$css: #1572b6;
$node: #83cd29;
$git: #f03c2e;

//* Breakpoints
$mobile: 359px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1550px;

//* Margins
$spacing: 5rem;

//* Font Sizes
$fontSize: (2.25rem, 3rem, 2.6rem, 1.6rem);

//* Skills
$skills: 
    "js" $js,
    'tailwind' $tailwind, 
    'html' $html, 
    'sass' $sass, 
    'react' $react, 
    'css' $css, 
    'node' $node, 
    'git' $git;