.header-message-container{
    display: flex;
    gap: 15rem;
    max-height: 12.75rem;
    align-items: center;
    padding-bottom: $spacing;
    width: 100%;
    div{
        display: flex;
        align-items: center;
        .header-message-arrow{
            width: 15rem;
            margin-right: 4rem;
        }
        .header-message-title{
            font-family: $font-secondary;
            letter-spacing: 0.75rem;
            font-size: 3.5rem;
            color: #D8D8D8;
        }
    }
}

@include laptop{
    .header-message-title,
    .header-message-arrow{
        margin-top: $spacing;
    }
}

@include mobile{
    .header-message-container{
        padding: 2rem 0;
        div{
            display: none;
        }
    }
}