.certificates{
    @include border-top;
    padding-bottom: $spacing;
    display: flex;
    flex-direction: column;
    .certificates-container{
        display: flex;
        width: auto;
        overflow-y: hidden;
        padding: 1rem 2rem;
        align-items: center;
        justify-content: space-between;
    }
    .certificates-button{
        align-self: flex-end;
        margin-top: 5rem;
        button{
            @include btn;
        }
    }
}

@include tablet{
    .certificates .certificates-container{
        overflow-x: scroll;
        gap: 4rem;
    }
}

@include mobile{
    .certificates .certificates-container{
        flex-direction: column;
    }
}