body::-webkit-scrollbar,
.projects-cards-container::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical,
.projects-cards-container::-webkit-scrollbar:horizontal {
    width: 7.5px;
    height: 7.5px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button,
.projects-cards-container::-webkit-scrollbar-button:increment, .projects-cards-container::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar-thumb,
.projects-cards-container::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

body::-webkit-scrollbar-track,
.projects-cards-container::-webkit-scrollbar-track {
    border-radius: 10px;  
}