.info-container{
    display: flex;
    flex-direction: column;
    gap: $spacing;
    padding: $spacing 0;
    .info{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }
    .functionalities-list{
        list-style: inside;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .project-buttons-container{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a button{
            @include btn;
        }
    }
}