.navbar-container{
    width: 100vw;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    .desktop-menu{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1.5rem;
            li a{
                color: $black;
                font-weight: $medium;
            }
            li button{
                @include btn;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                padding: calc($spacing / 8) calc($spacing / 4);
                font-size: 1.4rem;
                &:hover{
                    .download-icon{
                        fill: $primary;
                    }
                }
                .download-icon{
                    fill: $lightGray;
                    transform: scale(1.25);
                    -webkit-transform: scale(1.25);
                    -moz-transform: scale(1.25);
                    -ms-transform: scale(1.25);
                    -o-transform: scale(1.25);
                }
            }
        }
    } 
    .mobile-menu{
        display: none;
    }
}

@include mobile{
    .desktop-menu{
        display: none !important;
    }
    .navbar .mobile-menu{
        display: block;
        .mobile-menu-icon{
            font-size: 3rem;
        }
    }
}