.navbar-container{
    width: 100vw;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    .desktop-menu{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1.5rem;
            li{
                a{
                    color: $black;
                    font-weight: $medium;
                }
                &:last-of-type{
                    @include btn;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5rem;
                    padding: calc($spacing / 8) calc($spacing / 4);
                    font-size: 1.4rem;
                    &:hover a{
                        color: $primary;
                    }
                    a{
                        color: $white;
                    }
                }
            }
        }
    } 
    .mobile-menu{
        display: none;
    }
}

@include mobile{
    .desktop-menu{
        display: none !important;
    }
    .navbar .mobile-menu{
        display: block;
        position: relative;
        .mobile-menu-icon{
            font-size: 3rem;
        }
        .mobile-nav{
            position: absolute;
            right: 0;
            top: 5.5rem;
            background-color: $white;
            padding: 2.5rem;
            width: 15rem;
            border-radius: 2rem;
            -webkit-border-radius: 2rem;
            -moz-border-radius: 2rem;
            -ms-border-radius: 2rem;
            -o-border-radius: 2rem;
            border: 2px solid $darkGray;
            @include box-shadow;
            ul{
                display: flex;
                flex-direction: column;
                gap: 2.5rem;
                align-items: center;
                li{
                    a{
                        color: $black;
                        font-weight: $medium;
                    }
                    &:last-of-type{
                        @include btn;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.5rem;
                        padding: calc($spacing / 8) calc($spacing / 4);
                        font-size: 1.4rem;
                        &:hover a{
                            color: $primary;
                        }
                        a{
                            color: $white;
                        }
                    }
                }
            }
        } 
    }
}