.projects{
    @include border-top;
    padding-bottom: $spacing;
    .projects-cards-container{
        display: flex;
        width: auto;
        overflow-x: scroll;
        overflow-y: hidden;
        gap: 4rem;
        padding: 2rem;
    }
}

@include mobile{
    .projects-cards-container{
        flex-direction: column;
    }
}