.professional-experience {
  @include border-top;
  padding-bottom: $spacing;
  .jobs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    .job {
      padding: 2rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
      border-radius: 1rem;
      @include transition(all);
      border: 2px solid #d8d8d8;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      a {
        display: block;
        width: -moz-fit-content;
        width: fit-content;
        @include transition(all);
        &:hover {
          color: $primary;
          font-weight: $medium;
        }
      }
      &:hover {
        @include box-shadow;
        border-color: $primary;
        background-color: $white;
      }
    }
  }
}
